---
ec2win:            # this matches the driver name, e.g., dotnet, iis, etc. (what should it be)
  web:             # this is the name of the VM's role: web, app, etc.
    s3_bucket: xxx  # Bucket where settings script is stored
    s3_path: yyy  # Path where settings script is stored within bucket
    # describe_port: 8080
    # describe_endpoint: 'describe.json'
    # ec2_ip: zzz.zzz.zzz.zzz
    asg: aaa
    # ref_asg: bbb
    # batch_size: 1
    # timeout_adjust_per_batch: 720
    # timeout_inst_create: 300
    # timeout_inst_status_check: 300
    # timeout_inst_adjust_validated: 300
    # batch_cooldown: 300
    # settings:
    #   inst_type:
    #     type": 'enum'
    #     unit: 'ec2'
    #     values:
    #     - 't2.nano'
    #     - 't2.micro'
    #     - 't2.small'
    encoder: 
      name: dotnet
      settings:
        UriEnableCache: 
          default: 1
        UriScavengerPeriod: 
          default: 120
          min: 10
          max: 600
        WebConfigCacheEnabled:
          default: 0
        WebConfigEnableKernelCache:
          default: 1
  app:             # this is the name of the VM's role: web, app, etc.
    s3_bucket: 111  # Bucket where settings script is stored
    s3_path: 222  # Path where settings script is stored within bucket

    etc... same as 'web' above